@import '@fontsource/fira-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a:not(.large-anchor):not(.not-link) {
		@apply dark:hocus:text-daccent hocus:text-accent underline decoration-1 underline-offset-2 transition-[color] duration-300;
	}
	.large-anchor .large-anchor-link {
		@apply decoration-1 underline-offset-2 transition-[color] duration-300;
	}
	.large-anchor:is(:hover, :focus) .large-anchor-link {
		@apply dark:text-daccent text-accent underline;
	}
}

html,
body {
	@apply h-full;
}
body {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 0.02em;
	background: none transparent;
}
